

/*----------------------------------------- Navbar ---*/

#logo

#navbar


/*----------------------------------------- Form ---*/

#form-section

#signup-form

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}


/*----------------------------------------- Colors ---*/


/*----------------------------------------- Footer ---*/


